#clockContainer {
	position: relative;
	margin: auto;
	height: 40vw;
	width: 40vw;
	background: url(clock.png) no-repeat;
	background-size: 100%;
}

#hour,
#minute,
#second {
	position: absolute;
	background: black;
	border-radius: 10px;
	transform-origin: bottom;
}

#hour {
	width: 1.5%;
	height: 18%;
	top: 32%;
	left: 48.85%;
	opacity: 0.8;
}

#minute {
	width: 1.2%;
	height: 25%;
	top: 25%;
	left: 48.9%;
	opacity: 0.8;
}

#second {
	width: 0.8%;
	height: 33%;
	top: 17%;
	left: 49.25%;
	opacity: 0.8;
}
